@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

@font-face {
  src: url(./ProductSansRegular.ttf);
  font-family: 'Google sans';
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  font-family: 'Google sans', sans-serif;
}

@font-face {
  src: url(./ProductSans-Bold.ttf);
  font-family: 'Google sans';
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-links {
  font-family: 'Google sans', sans-serif;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem 2rem
}

#main-links p {
  font-size: 1em;
  color: #444;
  text-align: center;
}

.flex-wrapper {
  display: flex;
}

#welcome {
  text-align: center;
  min-height: 100vh;
  background: url(./backimg.png) center center/contain no-repeat;
}

#phases {
  flex-wrap: wrap;
  font-family: 'Google sans', sans-serif;

}

#phases .phase {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 4vmax;
  cursor: pointer;
}

#timer {
  max-width: 640px;
  margin: 1vmax auto;
  justify-content: center;
}



#phases .phase figure {
  flex: 1 0 4vmax;
  margin: 4px;
  position: relative;
}


#phases .phase .caption {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


#phases .phase figcaption .value {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  color: #fff;
  font-size: 5vmax;
  font-weight: bold;
}




#phases .phase figcaption .label {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  color: #ffffff41;
  font-size: 1vmax;
  font-weight: bold;
}

@media (max-width:900px) {
  #timer {
    width: 100%;
  }

  #phases .phase figcaption .value {
    font-size: 10vmin;
  }

  #phases .phase figcaption .label {
    font-size: 2vmin;
  }
}

#phases .phase>img:first-child {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease-out;
}

#phases .phase:hover>img:first-child {
  transform: scale(1.1);
}

#phases .phase:nth-child(1) {
  background: linear-gradient(#ffffffbb 40%, #ffffff07);
  color: #444;
}


#phases h1 {
  letter-spacing: -0.4vmax;
  font-size: 5vmax;
  margin-bottom: 1vmax;
}

#phases p {
  line-height: 1.6rem;
  font-size: 1rem;
  max-width: 800px;
  margin: auto;
  margin-bottom: 3rem;
}

#about-us {
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 3rem;
  text-align: center;
  font-family: 'Google sans', sans-serif;
  position: relative;
  background-color: #f8f8f8;
}

#about-us #about-description {
  position: relative;
  max-width: 1080px;
  margin: auto;
  background-color: #fff;
  padding: 2rem 4rem;
  z-index: 2;
}

#about-us ol {
  padding-top: 2rem;
}

@media (max-width:1200px) {


  #about-us #about-description {
    padding: 1rem;

  }

}

#about-us li {
  list-style: none;
  text-align: left;
  padding: 1rem;
}

#about-us #about-description>h1 {
  font-size: 4rem;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #29aee8;
  -webkit-text-stroke-width: 2px;
}

#about-us li h1 {
  font-size: 1.6em;

  margin-bottom: .8em;
}

.list-number {
  padding: .4rem;
  background-color: #444;
  border-radius: 50%;
  font-size: .8em;
  width: 2.8rem;
  height: 2.8rem;
  display: inline-flex;
  color: #fff;
}

#welcome-text {

  color: #444;

  font-family: 'Google sans', sans-serif;
}

@media (max-width:600px) {

  #welcome-text {
    margin-top: 5rem;
  }
}

#welcome-text h2 {
  font-size: 1.8em;
  display: inline-block;
  background-color: #ffffff33;
  margin-bottom: .4em;
}

#welcome-text p {
  font-size: 1.4em;
  color: #29AEE8;
  font-family: 'Pacifico', cursive;

}

#welcome-text h1 {
  font-size: 7em;
  color: #fff;
  letter-spacing: -.125em;
  background: url(./heading-pointer.svg) center center/contain no-repeat;
}

@media (max-width:1200px) {
  #welcome-text h1 {
    font-size: 5em;
    margin-bottom: 3rem;
  }


}

@media (max-width:900px) {
  #welcome-text h1 {
    font-size: 4rem;
    background: none;
  }

  #welcome img[src="./button-pointer.svg"] {
    display: none;
  }

}


.btn {
  padding: 16px;
  border-radius: 50px;
  background-color: #29AEE8;
  color: #fff;
  border: #29AEE8 4px solid;
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease transform;
}





.btn-secondary {
  background-color: #fff;
  color: #29AEE8;
  border: 4px solid #29AEE8;
}

@media (max-width:900px) {

  .btn {
    font-size: .8rem;
  }

}

.btn:hover {
  transform: scale(1.1);
}


.btn:active {
  transform: scale(.9);
}

.pendulam-vertical {
  animation-name: animvert;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

@keyframes animvert {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 16px);
  }

  100% {
    transform: translate(0, 0);
  }
}

#rules {
  font-family: 'Google sans', sans-serif;
  background-color: #ededed;
  padding: 5rem;
}

#rules>h1 {
  font-size: 4rem;
  color: #444;
  margin-bottom: 3rem;
  font-family: 'Google sans', sans-serif;
}




#rules>ul {
  max-width: 1080px;
  margin-top: 2em;
}

#rules>ul li>ul {
  padding-left: 2.8rem;
  color: #444;
}

@media (max-width:1200px) {
  #rules {
    padding: 2rem;
  }

  #rules>ul li>ul {
    padding-left: 1rem;

  }
}

#rules>ul li {
  font-size: 1rem;
  list-style: none;
  line-height: 1.6rem;
}

#rules>ul>li {
  margin: 2rem;
}


@media (max-width:1200px) {
  #rules {
    padding: 2rem;
  }

  #rules>h1 {
    font-size: 3rem;
  }


  #rules>ul li>ul {
    padding-left: 1rem;
  }

  #rules>ul>li {
    margin: 2rem 0;
  }
}


.list-pointer {
  background-color: #444;
  border: 4px solid #fff;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: .8rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
}

.red-pointer {
  background-color: #da5229;
}

.black-pointer {
  background-color: #444;
}

#footer {
  background-color: #444;
  color: #f8f8f8;
  padding: 2.5rem 5rem;
  font-family: 'Google sans', sans-serif;
}

#footer h1 {
  font-size: 1.6rem;
}

#footer hgroup {
  padding: 1rem;
  display: inline-block;
}

#footer h2 {
  font-size: 1.4rem;
}

#footer p.golden {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #d6b625;
}

.footer-item {
  padding: 1rem 8rem;
}

.footer-item:nth-child(1) {
  border-right: solid 1px #fff;
}

@media (max-width:1200px) {

  #footer {
    padding: 2rem;
    flex-wrap: wrap-reverse;
  }


  .footer-item:nth-child(1) {
    border-right: none;
  }

  .footer-item {
    text-align: center;
    padding: 1rem 2rem;
  }


}

.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: #444444b4;

  padding: 4rem 1rem;
  overflow-y: hidden;

  height: 100vh;
  width: 100vw;
}


.frame-container {
  position: relative;

  margin: auto;
  max-width: 720px;
  height: 640px;
  padding: 3rem 1rem;

  background-color: #ffdba6;
}


@media(max-width:600px) {

  .modal {
    padding: 0;
  }


  .frame-container {
    height: 100vh;
  }
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #444;
  cursor: pointer;
}

#google-form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.visible {
  display: block;
  cursor: pointer;
}

#steps {
  font-family: 'Google sans', sans-serif;
  min-height: 100vh;
  background-color: #d8d8d8;
  padding: 1rem;
}


.step-container {
  padding: 3rem;
  max-width: 1080px;
  background-color: #f8f8f8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
  margin: auto;
  border-radius: 30px;
}




#steps .step-container>h1 {
  font-size: 2.4rem;
  color: #444;
}



#steps ul {
  position: relative;
  margin-top: 3rem;
  padding-left: 2rem;
}

#steps ul::before,
#steps ul::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: .4rem;
  background-color: #bbe7fa;
}

#steps ul::after {
  background-color: #bbe7fa;
}

#steps ul.done::after {
  background-color: #29aee8;
  height: 45%;
}

#steps ul.final::after {
  background-color: #29aee8;
  height: 90%;
}

#steps ul p.error {
  margin-top: .5rem;
  color: #da5229;
}

.invisible {
  display: none;
}

@media (max-width:600px) {
  .step-container {
    padding: 1.6rem;
  }

  #steps .step-container>h1 {
    font-size: 2rem;
    text-align: center;
  }

  #steps .step-container ul h1 {
    font-size: 1.4rem;
  }
}

#steps li {
  position: relative;
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

#steps li::after {
  z-index: 3;
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: .8rem;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #bbe7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29aee8;
  border: .25rem solid #f8f8f8;
  transform: translate(-2.8rem, 0);
}


#steps li h1 {
  margin-bottom: .5rem;
  color: #101010;
}

#steps li p {
  color: #444;
  margin-bottom: 2rem;

}

#steps li .btn {
  border-radius: 5px;
  padding: .2rem .6rem;
  font-size: .8rem;
}

#steps li.complete::after,
#steps ul.final li::after {
  background-color: #29aee8;
  color: #f8f8f8;
}